{% extends 'game/index.html' %} {% load static %} {% block body_block%} <link
rel="stylesheet" type="text/css" href={% static 'game/css/main.css' %}>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
  integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
  crossorigin="anonymous"
/>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8">
      <h1 class="my-4">
        Page Heading
        <small>Secondary Text</small>
      </h1>
      {% for post in blogs %}
      <div class="card mb-4">
        <a href="../media/{{ post.head_image }}">
          <img
            class="card-img-top"
            src="../media/{{ post.head_image }}"
            alt="Card image cap"
          />
        </a>
        <div class="card-body">
          <h2 class="card-title">{{ post.post_title }}</h2>
          <div>{{ post.post_overview }}</div>
          <a href="{% url 'newsPage' post.id %}" style="text-decoration: none"
            >Read More
            <img src="{% static 'game/img/arrow.png' %}" width="20px" alt=""
          /></a>
        </div>
        <div class="card-footer text-muted">
          {{ post.pub_date }} by
          <a href="#">{{ post.post_by }}</a>
        </div>
      </div>
      {% endfor %}

      <!-- Pagination -->
      <span class="current">
        Page {{ blogs.number }} of {{ blogs.paginator.num_pages }}.
      </span>
      <ul class="pagination justify-content-center mb-4">
        {% if blogs.has_previous %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ blogs.previous_page_number }}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %} {% if is_last_page %}
        <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
        </li>
        {% if blogs.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ blogs.previous_page_number }}"
            >{{ blogs.previous_page_number }}</a
          >
        </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ blogs.number }}</a>
        </li>
        {% else %}
        <li class="page-item active">
          <a class="page-link" href="#">{{ blogs.number }}</a>
        </li>
        {% if blogs.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ blogs.next_page_number }}"
            >{{ blogs.next_page_number }}</a
          >
        </li>
        {% endif %} {% if has_next_to_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ next_to_next }}"
            >{{ next_to_next }}</a
          >
        </li>
        {% endif %} {% if blogs.has_next %}
        <li class="page-item">
          <a
            class="page-link"
            href="?page={{ blogs.next_page_number }}"
            aria-label="Next"
          >
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %} {% endif %}
      </ul>
    </div>

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4">
      <!-- Search Widget -->
      <div class="my-4">
        <!-- <h5 class="">Search</h5> -->
        <div class="">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search for..."
            />
            <span class="input-group-append">
              <button class="btn btn-secondary search" type="button">
                Search
              </button>
            </span>
          </div>
        </div>
      </div>

      <!-- Categories Widget -->
      <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">All</a>
                </li>
                <li>
                  <a href="#">FPS</a>
                </li>
                <li>
                  <a href="#">Survival</a>
                </li>
                <li>
                  <a href="#">RPG</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#">Racing</a>
                </li>
                <li>
                  <a href="#">Simulation</a>
                </li>
                <li>
                  <a href="#">Open World</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Side Widget -->
      <div class="card my-4">
        <h5 class="card-header">Trending</h5>
        <div class="card-body">
          <div class="trend">
            <div class="tw-item">
              <div class="tw-thumb">
                <img src="{% static 'game/img/csgoTrend.png' %}" alt="#" />
              </div>
              <div class="tw-text">
                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                <a href="#" class="trendText">
                  <h5>The best online game is out now!</h5>
                </a>
              </div>
            </div>
          </div>
          <br />

          <div class="trend">
            <div class="tw-item">
              <div class="tw-thumb">
                <img src="{% static 'game/img/csgoTrend.png' %}" alt="#" />
              </div>
              <div class="tw-text">
                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                <a href="#" class="trendText">
                  <h5>The best online game is out now!</h5>
                </a>
              </div>
            </div>
          </div>
          <br />

          <div class="trend">
            <div class="tw-item">
              <div class="tw-thumb">
                <img src="{% static 'game/img/csgoTrend.png' %}" alt="#" />
              </div>
              <div class="tw-text">
                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                <a href="#" class="trendText">
                  <h5>The best online game is out now!</h5>
                </a>
              </div>
            </div>
          </div>
          <br />

          <div class="trend">
            <div class="tw-item">
              <div class="tw-thumb">
                <img src="{% static 'game/img/csgoTrend.png' %}" alt="#" />
              </div>
              <div class="tw-text">
                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                <a href="#" class="trendText">
                  <h5>The best online game is out now!</h5>
                </a>
              </div>
            </div>
          </div>
          <br />

          <div class="trend">
            <div class="tw-item">
              <div class="tw-thumb">
                <img src="{% static 'game/img/csgoTrend.png' %}" alt="#" />
              </div>
              <div class="tw-text">
                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                <a href="#" class="trendText">
                  <h5>The best online game is out now!</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->

{% endblock %}
